---
layout: default
title: SHIP tech@NYU
lego: false
---
<!-- Version 1.5.0 -->
<section class="intro">
<div class="site">
{% capture intro %}
  {% include intro.markdown %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</div>
</section>

<section class="blog" id="featured">
	<div class="site site--grid">
		<h5 class="category">Featured</h5>
	</div>
</section>

<section class="blog" id="demodays">
	<div class="site site--grid">
		<h5 class="category">Demodays</h5>
		<p>DemoDays projects from NYU Students. <a href="http://demodays.co/archive/">Visit the full DemoDays Archive here.</a></p>
		<ul class="posts grid">
			{% for demodays in site.demodays %}
			<li class="project">
					<div class="img-wrap">
						<a href="{{ demodays.site }}"><img src="{{ demodays.image }}"></a>
					</div>
					<a href="{{ demodays.site }}">
						<h2>{{ demodays.title }}</h2>
			
					</a>
			
			
					{% for creator in demodays.creator %}
					<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}</p>		
					{% endfor %}
				
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="library">
	<div class="site site--grid">
		<h5 class="category">Libraries</h5>
		<ul class="posts grid">
			{% for library in site.library %}
			<li class="project half">
				<div class="description">
					<h1>{{ library.title }}</h1>
			
					<div class="attribution">
						{% for creator in library.creator %}
							<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							
							
							{% if creator.eboard %}
								{% if creator.current == true %}
									<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
									
								{% else %}
									<span class="creator__label--alumi" title="tech@NYU Alumni"><span class="ion-university" data-pack="default" data-tags="graduate, education, school, tassle"></span></span>
									
								{% endif %}
							{% endif %}
							</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{library.content}}</p>
					
					{% unless library.inactive %}
						{% if library.site %}<p><a href="{{ library.site }}" class="project-link">{{ library.site }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="project">
	<div class="site site--fullbleed">
		<h5 class="category">Projects</h5>
		<ul class="posts">
			{% for project in site.project %}
			<li class="project">
				<a href="{{ project.site }}"><img src="{{ project.image }}"></a>
				<div class="description">
					<h1>{{ project.title }}</h1>
			
					<div class="attribution">
						{% for creator in project.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								{% if creator.current == true %}
									<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
								
								{% else %}
									<span class="creator__label--alumi" title="tech@NYU Alumni"><span class="ion-university" data-pack="default" data-tags="graduate, education, school, tassle"></span></span>
								
								{% endif %}
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{project.content}}</p>
					{% unless project.inactive %}
						{% if project.site %}<p><a href="{{ project.site }}" class="project-link">{{ project.site }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="game">
	<div class="site site--fullbleed">
		<h5 class="category">Games</h5>
		<ul class="posts">
			{% for game in site.game %}
			<li class="project">
				<a href="{{ game.site }}"><img src="{{ game.image }}"></a>
				<div class="description">
					<h1>{{ game.title }}</h1>
			
					<div class="attribution">
						{% for creator in game.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								{% if creator.current == true %}
									<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
								
								{% else %}
									<span class="creator__label--alumi" title="tech@NYU Alumni"><span class="ion-university" data-pack="default" data-tags="graduate, education, school, tassle"></span></span>
								
								{% endif %}
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{game.content}}</p>
					{% unless game.inactive %}
						{% if game.site %}<p><a href="{{ game.site }}" class="project-link">{{ game.site }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="event">
	<div class="site site--fullbleed">
		<h5 class="category">Events</h5>
		<ul class="posts">
			{% for event in site.event %}
			<li class="project">
				<a href="{{ event.site }}"><img src="{{ event.image }}"></a>
				<div class="description">
					<h1>{{ event.title }}</h1>
			
					<div class="attribution">
						{% for creator in event.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								{% if creator.current == true %}
									<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
								
								{% else %}
									<span class="creator__label--alumi" title="tech@NYU Alumni"><span class="ion-university" data-pack="default" data-tags="graduate, education, school, tassle"></span></span>
								
								{% endif %}
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{event.content}}</p>
					{% unless event.inactive %}
						{% if event.site %}<p><a href="{{ event.site }}" class="project-link">{{ event.site }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="startup">
	<div class="site site--fullbleed">
		<h5 class="category">Startups</h5>
		<ul class="posts">
			{% for startup in site.startup %}
			<li class="project">
				<a href="{{ startup.site }}"><img src="{{ startup.image }}"></a>
				<div class="description">
					<h1>{{ startup.title }}</h1>
			
					<div class="attribution">
						{% for creator in startup.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								{% if creator.current == true %}
									<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
								
								{% else %}
									<span class="creator__label--alumi" title="tech@NYU Alumni"><span class="ion-university" data-pack="default" data-tags="graduate, education, school, tassle"></span></span>
								
								{% endif %}
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{startup.content}}</p>
					{% unless startup.inactive %}
						{% if startup.site %}<p><a href="{{ startup.site }}" class="project-link">{{ startup.site }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


{% include footer.html %}

