---
layout: default
title: SHIP tech@NYU
---
<!-- Version 1.5.0 -->
<section class="intro">
<div class="site">
{% capture intro %}
  {% include intro.markdown %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</div>
</section>

<section class="blog" id="featured">
<div class="site">
	<h5 class="category">Featured</h5>
	
<ul class="posts">
{% for post in site.posts %}
	{% if post.featured %}
	<li class="project">
		<a href="{{ post.site }}"><img src="{{ post.image }}"></a>
		<div class="description">
			<h1>{{ post.title }}</h1>
			
			<div class="attribution">
				<p>{{ post.creator }} {% if post.twitter %}<a href="http://twitter.com/{{ post.twitter }}" class="twitter"><i class="icon-social-twitter"></i></a>{% endif %}</p>
	
			</div>  
			<p>{{post.content}}</p>
			{% if post.site %}<p><a href="{{ post.site }}" class="project-link">{{ post.site }}</a></p>{% endif %}
		</div>
	</li>
	{% endif %}
{% endfor %}
</ul>	
</div>
</section>



<section class="blog" id="demodays">
<div class="site">
	<h5 class="category">DemoDays</h5>
<ul class="posts grid">
{% for post in site.posts %}
	{% if post.demodays %}
	<li class="project">
		<div class="description">
			<div class="img-wrap">
				<a href="{{ post.site }}"><img src="{{ post.image }}"></a>
			</div>
			<a href="{{ post.site }}">
				<h2>{{ post.title }}</h2>
				
			</a>
			
			
			<p>{{ post.creator }} {% if post.twitter %}<a href="http://twitter.com/{{ post.twitter }}" class="twitter"><i class="icon-social-twitter"></i></a>{% endif %}</p> 
			{% if post.school %}<p class="dd__school">{{post.school}}</p>{% endif %}
			
		</div>
	</li>
	{% endif %}
{% endfor %}
	<li class="placeholder"></li>
	<li class="placeholder"></li>
</ul>	
</div>
</section>



<section class="blog" id="eboard">
<div class="site">
	<h5 class="category">2013-2014 e-board</h5>
<ul class="posts">
{% for post in site.posts %}
	{% if post.eboard %}
	<li class="project">
		<a href="{{ post.site }}"><img src="{{ post.image }}"></a>
		<div class="description">
			<h1>{{ post.title }}</h1>
			
			<div class="attribution">
				<p>{{ post.creator }} {% if post.twitter %}<a href="http://twitter.com/{{ post.twitter }}" class="twitter"><i class="icon-social-twitter"></i></a>{% endif %}</p>
	
			</div>  
			<p>{{post.content}}</p>
			{% if post.site %}<p><a href="{{ post.site }}" class="project-link">{{ post.site }}</a></p>{% endif %}
		</div>
	</li>
	{% endif %}
{% endfor %}
</ul>	
</div>
</section>


<section class="blog" id="alumni">
<div class="site">
	<h5 class="category">Alumni</h5>
<ul class="posts">
{% for post in site.posts %}
	{% if post.alumni %}
	<li class="project">
		<a href="{{ post.site }}"><img src="{{ post.image }}"></a>
		<div class="description">
			<h1>{{ post.title }}</h1>
			
			<div class="attribution">
				<p>{{ post.creator }} {% if post.twitter %}<a href="http://twitter.com/{{ post.twitter }}" class="twitter"><i class="icon-social-twitter"></i></a>{% endif %}</p>
				
	
			</div>  
			<p>{{post.content}}</p>
			{% if post.site %}<p><a href="{{ post.site }}" class="project-link">{{ post.site }}</a></p>{% endif %}
		</div>
	</li>
	{% endif %}
{% endfor %}
</ul>	
</div>
</section>




{% include footer.html %}

