---
layout: default
title: SHIP tech@NYU
lego: false
---
<!-- Version 2.0.0 -->
<section class="intro">
<div class="site">
{% capture intro %}
  {% include intro.markdown %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</div>
</section>

<section class="blog" id="featured">
	<div class="site site--fullbleed">
		<h5 class="category">Featured</h5>
		<ul class="posts">
			{% for featured in site.data.featured %}
			<li class="project">
				<a href="{{ featured.url }}"><img src="/lib/img/shipplace.png" data-src="{{ featured.imgUrl }}" title="{{featured.title}}"></a>
				<div class="description">
					<h1>{{ featured.title }}</h1>
			
					<div class="attribution">
						{% for creator in featured.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{featured.description}}</p>
					{% unless featured.inactive %}
						{% if featured.url %}<p><a href="{{ featured.url }}" class="project-link">{{ featured.url }}</a>
							<a href="#{{featured.category}}"><span class="featured__bucket--{{featured.category}}">{{featured.category}}</span></a>
						</p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="demodays">
	<div class="site site--grid">
		<h5 class="category">Demodays</h5>
		<p>DemoDays projects from NYU Students. For all demos, <a href="http://demodays.co/archive/">visit the full DemoDays Archive here.</a></p>
		<ul class="posts grid">
			{% for demodays in site.data.demodays %}
			<li class="project">
					<div class="img__wrap">
						<a href="{{ demodays.url }}"><img src="/lib/img/shipplace.png" data-src="{{ demodays.imgUrl }}" title="{{demodays.title}}"></a>
					</div>
					<a href="{{ demodays.url }}">
						<h2>{{ demodays.title }}</h2>
					</a>
					
					{% for creator in demodays.creator %}
					<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
					{% if creator.eboard %}
						<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
					{% endif %}
					</p>		
					{% endfor %}
				
					{% if demodays.demodays %}<p class="demodays__link">{{ demodays.demodays }}</p>{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="library">
	<div class="site site--grid">
		<h5 class="category">Libraries</h5>
		<ul class="posts grid">
			{% for library in site.data.libraries %}
			<li class="project half">
				<div class="description">
					<h1>{{ library.title }}</h1>
			
					<div class="attribution">
						{% for creator in library.creator %}
							<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							
							
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
							</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{library.description}}</p>
					
					{% unless library.inactive %}
						{% if library.url %}<p><a href="{{ library.url }}" class="project-link">{{ library.url }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="project">
	<div class="site site--fullbleed">
		<h5 class="category">Projects</h5>
		<ul class="posts">
			{% for project in site.data.projects %}
			<li class="project">
				<a href="{{ project.url }}"><img src="/lib/img/shipplace.png" data-src="{{ project.imgUrl }}" title="{{project.title}}"></a>
				<div class="description">
					<h1>{{ project.title }}</h1>
			
					<div class="attribution">
						{% for creator in project.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{project.description}}</p>
					{% unless project.inactive %}
						{% if project.url %}<p><a href="{{ project.url }}" class="project-link">{{ project.url }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="game">
	<div class="site site--fullbleed">
		<h5 class="category">Games</h5>

		<ul class="posts">
			{% for game in site.data.games %}
			<li class="project">
				<a href="{{ game.url }}"><img src="/lib/img/shipplace.png" data-src="{{ game.imgUrl }}" title="{{ game.title }}"></a>
				<div class="description">
					<h1>{{ game.title }}</h1>

					<div class="attribution">
						{% for creator in game.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{game.description}}</p>
					{% unless game.inactive %}
						{% if game.url %}<p><a href="{{ game.url }}" class="project-link">{{ game.url }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="event">
	<div class="site site--fullbleed">
		<h5 class="category">Events</h5>
		<ul class="posts">
			{% for event in site.data.events %}
			<li class="project">
				<a href="{{ event.url }}"><img src="/lib/img/shipplace.png" data-src="{{ event.imgUrl }}" title="{{ event.title }}"></a>
				<div class="description">
					<h1>{{ event.title }}</h1>
			
					<div class="attribution">
						{% for creator in event.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{event.description}}</p>
					{% unless event.inactive %}
						{% if event.url %}<p><a href="{{ event.url }}" class="project-link">{{ event.url }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="blog" id="startup">
	<div class="site site--fullbleed">
		<h5 class="category">Startups</h5>
		<ul class="posts">
			{% for startup in site.data.startups %}
			<li class="project">
				<a href="{{ startup.url }}"><img src="/lib/img/shipplace.png" data-src="{{ startup.imgUrl }}" title="{{ startup.title }}"></a>
				<div class="description">
					<h1>{{ startup.title }}</h1>
			
					<div class="attribution">
						{% for creator in startup.creator %}
						<p class="project__creator">{{ creator.name }} {% if creator.twitter %}<a href="http://twitter.com/{{ creator.twitter }}" class="twitter"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>{% endif %}
							{% if creator.eboard %}
								<span class="creator__label--eboard" title="tech@NYU current e-board"><span class="ion-bug" data-pack="default" data-tags="develop, program, hacker, error"></span></span>
							{% endif %}
						</p>
						{% endfor %}
	
					</div>  
					<p class="project__content">{{startup.description}}</p>
					{% unless startup.inactive %}
						{% if startup.url %}<p><a href="{{ startup.url }}" class="project-link">{{ startup.url }}</a></p>{% endif %}
					{% endunless %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


{% include footer.html %}

