<footer class="end" id="about">
	<div class="site">
	
		<h1>What is Tech@NYU?</h1>
		<p>Tech@NYU wants students to build stuff together. It takes a lot of scars, experience, and bad ideas to finally get to a great product, so Tech@NYU is like a big sandbox - a place for experimentation, play, and, well, shipping.</p>

		<p>We do a lot of events too, including monthly <a href="http://www.meetup.com/DemoDays/">DemoDays</a> where we show off our work, weekly <a href="http://www.meetup.com/nyhackdays/">HackDays</a> where we learn together, and semiannual Startup Weeks where we listen to some big-name speakers.</p>

		<p>If you're a student in New York City that's interested in the intersection of startups, entrepreneurship, coding, art and design - we want you to join us.</p>

		<p>If you're an NYC startup looking to give back to the student community, we also want to find ways you can help.</p>
		</div>
		
</div>
</footer>

<footer class="cta" id="submit">
	<div class="site">

		<ul class="grid">
			<li>
				<h2>Student?</h2>

				<a href="http://techatnyu.org">Join us</a>
			</li>
			<li>
				<h2>Sponsor?</h2>

				<a href="mailto:hello@techatnyu.org">Partner with us</a>
			</li>
			<li>
				<h2>Participant?</h2>
				<a href="mailto:hello@techatnyu.org">Submit project</a>
			</li>
		</ul>
		
		<div class="info">
			<p>Ship is presented by <a href="http://techatnyu.org">tech@NYU</a>. Want to learn about tech@NYU events? <a href="http://techatnyu.org/join-us">Subscribe to our newsletter!</a></p>
			<ul>
				<li><a href="https://www.facebook.com/TechatNYU"><i class="icon-social-facebook"><span>facebook</span></i></a></li>
				<li><a href="https://twitter.com/TechatNYU"><i class="icon-social-twitter"><span>twitter</span></i></a></li>
				<li><a href="mailto:hello@techatnyu.org"><i class="icon-ios7-email"><span>email</span></i></a></li>
			</ul>
        	
			<div class="colophon">
				<p>made with <i class="icon-ios7-heart-outline"><span>love</span></i> in NYC by <a href="http://grungerabbit.com">cheryl wu</a></p>
			</div>
		</div>
		
	</div>
	
	

</footer>