<footer class="end">
	<div class="site">
	  
		
  
<h2>DemoDays</h2>
<p><a href="http://techatnyu.org">tech@NYU</a> in conjunction with <a href="http://createatcooper.org/">create@cooper</a>, <a href="https://www.facebook.com/parsonscodeclub">Parsons Code Club</a>, and <a href="http://adicu.com">Columbia ADI</a></p>
<p>Want to attend more events like this? <a href="http://techatnyu.org/join-us">Subscribe to our newsletter!</a></p>
<ul>
	<li><a href="https://www.facebook.com/TechatNYU"><i class="icon-social-facebook"><span>facebook</span></i></a></li>
	<li><a href="https://twitter.com/TechatNYU"><i class="icon-social-twitter"><span>twitter</span></i></a></li>
	<li><a href="mailto:hello@techatnyu.org"><i class="icon-ios7-email"><span>email</span></i></a></li>
</ul>

<div class="colophon">
	<p>made with <i class="icon-ios7-heart-outline"><span>love</span></i> in NYC by <a href="http://grungerabbit.com">cheryl wu</a></p>
</div>
</div>
</footer>