<header class="main">
	<div class="overlay">
		<div class="site">
			<div class="logo">
				<img src="/lib/img/demodays.png">
				<h1>DemoDays</h1>
			</div>
			<div class="tagline">
				<h1>Student demos at the intersection of art, design and code.</h1>
				
				<a href="http://www.meetup.com/DemoDays/events/146064262/" class="action"><span><span class="icon-ios7-heart" data-pack="ios7" data-tags="love"></span> RSVP</span></a>
			</div>
			<div class="info">
				<ul class="icons">
					<li><h3 class="icon-ios7-calendar" data-pack="ios7" data-tags="date, time, month, year"></h3></li>
					<li><h3 class="icon-ios7-clock" data-pack="ios7" data-tags="time, date, hours, minutes, seconds, watch"></h3></li>
					<li><h3 class="icon-ios7-world" data-pack="ios7" data-tags="globe, earth"></h3><br></li>
					<li><h3 class="icon-ios7-heart" data-pack="ios7" data-tags="love"></h3></li>
				</ul>
				<ul class="logistics">	
					<li class="further-detail"><h3> 11/23/2013</h3> 
						<div class="micro">
							<ul>
								<li><i class="icon-play" data-pack="default" data-tags="music, watch, arrow, right"></i> Saturday</li>
							</ul>
						</div>
					</li>
					<li class="further-detail"><h3> 3-5 PM</h3> 
						<div class="micro">
							<ul>
								<li><i class="icon-beaker" data-pack="default" data-tags="mixture, potion, flask"></i> Demos</li>
								<li><i class="icon-mic-c" data-pack="default" data-tags="sound, talk, speaker"></i> Guest speaker</li>
								<li><i class="icon-pizza" data-pack="default" data-tags="food, drink, eat"></i> PIZZAAAAAA</li>
							</ul>
						</div>
					</li>
					<li class="further-detail"><h3><a href="https://maps.google.com/maps?q=Spotify+USA,+9th+Avenue,+New+York,+NY&hl=en&sll=37.6,-95.665&sspn=79.848565,85.429688&oq=spo&hq=Spotify&hnear=9th+Ave,+New+York&t=m&z=14"> Spotify NYC</a></h3> 
						<div class="micro">
							<ul>
								<li><i class="icon-volume-high" data-pack="default" data-tags="sound, noise"></i> 45 W. 18th Street</li>
								<li><i class="placeholder">&nbsp;</i> 7th Floor</li>
								<li><i class="placeholder">&nbsp;</i> New York, NY 10011</li>
							</ul>
						</div>
					</li>
					<li><h3><a href="http://www.meetup.com/DemoDays/events/146064262/"> RSVP</a></h3></li>
				</ul>
			</div>
		</div>
	</div>
</header>