
<header class="main" id="top">
	<div class="overlay">
	<div class="site">
		<div class="logo">
			<a href="/">
			<img src="/lib/img/shipship.png">
			<h1 id="masthead">tech@NYU SHIPS</h1>
			</a>
			
			<aside>
				<a href="#top"><canvas id="overlay" width="156" height="200"></canvas></a>
				
				<div>
					<ul>
						<li><a href="#demodays">demodays</a></li><li><a href="#featured">featured</a></li><li><a href="#library">libraries</a></li><li><a href="#project">projects</a></li><li><a href="#game">games</a></li><li><a href="#event">events</a></li><li><a href="#startup">startups</a></li><li><a href="#submit">about</a></li>
					</ul>
				</div>
			</aside>
		</div>
			
			
		<nav>
			<ul>
				<li><a href="#demodays">demodays</a></li><li><a href="#featured">featured</a></li><li><a href="#library">libraries</a></li><li><a href="#project">projects</a></li><li><a href="#game">games</a></li><li><a href="#event">events</a></li><li><a href="#startup">startups</a></li><li><a href="#submit">about</a></li>
			</ul>
		</nav>
		
	</div>
	</div>
</header>