
<header class="main" id="top">
	<div class="overlay">
	<div class="site">
		<div class="logo">
			<a href="/">
			<img src="/lib/img/shipship.png">
			<h1 id="masthead">tech@NYU SHIPS</h1>
			</a>
			
			<aside>
				<a href="#top"><canvas id="overlay" width="156" height="200"></canvas></a>
				
				<div>
					<ul>
						<li><a href="#demodays">demodays</a></li><li><a href="#eboard">e-board</a></li><li><a href="#alumni">alumni</a></li><li><a href="#about">about</a></li><li><a href="#submit">submit</a></li>
					</ul>
				</div>
			</aside>
		</div>
			
			
		<nav>
			<ul>
				<li><a href="#demodays">demodays</a></li><li><a href="#eboard">e-board</a></li><li><a href="#alumni">alumni</a></li><li><a href="#about">about</a></li><li><a href="#submit">submit</a></li>
			</ul>
		</nav>
		
	</div>
	</div>
</header>