<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
		<link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<style type="text/css">.tk-ff-meta-web-pro{font-family:"ff-meta-web-pro",sans-serif;}</style>
		<link rel="stylesheet" href="http://use.typekit.net/c/09837f/ff-meta-web-pro:i4:i7:n3:n4:n7.ZG4:N:2,ZGB:N:2,ZG1:N:2,ZG3:N:2,ZG9:N:2/d?3bb2a6e53c9684ffdc9a9bf4135b2a625d2f4b913c6083f29a411497d8a2e3cffe93830a99732d3b6c120e296a26b6a768dd5f40d4ca0a4869274c342da0573f15a742067706f81629b40e49eba9d6bbd5ef12d84b8db900456f0189e1d4bce5cc472f72d6a018029b5d1030d95cdf87e949a5a178fca1a6d60ce22b6fbb69b78c">
		
        <link rel="stylesheet" href="/lib/css/styles.css">
		<meta name="description" content="tech@NYU ships. Projects from tech@NYU members past and present." />
		<meta name="keywords" content="tech@nyu tech at nyu new york university startups technology entrepreneurs entrepreneurships demodays demos projects ship boat pun" />
		
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2" />
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-45437819-2', 'techatnyu.org');
		  ga('send', 'pageview');

		</script>
    </head>
    <body>
        <div class="container">
			{% include header.html %}
	
		
			
			   {{ content }}
			   
			   
		
        </div> <!-- /container -->

		<!--<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>-->
		<script src="/lib/js/jquery.js"></script>
		<script src="/lib/js/jquery.fittext.js"></script>
		<script src="/lib/js/jquery.unveil.js"></script>
		<script src="/lib/js/app.js"></script>
    </body>
</html>
